.hero {
  width: 100%;
  margin: 109px 0 69px 0;
}

.hero__container {
  display: flex;
}
.hero__container .hero-title h1 {
  font-family: PT Sans;
  font-size: 52px;
  font-weight: 600;
  line-height: 65px;
  width: 610px;
  height: 119px;
  margin-bottom: 40px;
  color: #363738;
  margin-top: 81px;
}
.hero__container .hero-title p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 525px;
  height: 66px;
  margin-bottom: 40px;
  color: #6b6b6c;
}

.hero-title a {
  width: 105px;
  height: 17px;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #363738;
  text-decoration: none;
  transition: all 0.6s;
}
.hero-title a:hover {
  height: 25px;
  width: 110px;
  background-color: rgb(200, 136, 54);
}
.hero-title::before {
  width: 100px;
  height: 5px;
  background-color: #ffce50;
}

.hero_container .hero-image {
  width: 635px;
  height: 505px;
}

@media (max-width: 768px) {
  .hero__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero__container .hero-title h1 {
    width: auto;
    margin-bottom: 20px;
  }
  .hero__container .hero-title p {
    width: auto;
    margin-bottom: 20px;
  }
  .hero__container .hero-image {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}
@media (max-width: 480px) {
  .hero__container .hero-title h1 {
    font-size: 24px;
  }
  .hero__container .hero-title p {
    font-size: 14px;
  }
  .hero__container .hero-image {
    max-width: 300px;
  }
}
.maintext {
  max-width: 100%;
  width: 1240px;
  height: 341px;
  border-radius: 20px;
  border: 1px;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1490196078);
  margin-left: 120px;
  margin-bottom: 67px;
}

.maintext__container {
  display: flex;
}
.maintext__container h3 {
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: #363738;
}
.maintext__container p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.maintext__container img {
  margin-top: 40px;
}
.maintext__container .box1__first {
  margin-left: 80px;
}
.maintext__container button {
  margin-top: 40px;
  width: 1px;
  height: 261px;
  border: 1px;
  background-color: #d7d7dd;
  margin-left: 105px;
  margin-right: 64px;
}

@media (max-width: 768px) {
  .maintext {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .maintext {
    height: auto;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .maintext__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .maintext__container h3,
  .maintext__container p {
    width: auto;
  }
  .maintext__container img {
    margin-top: 20px;
  }
  .maintext__container button {
    margin: 20px 0;
    width: 100%;
    height: 1px;
  }
}
.loremipsum {
  width: 100%;
  margin-bottom: 75px;
}

.loremipsum__container .loremipsum--image {
  display: flex;
}
.loremipsum__container .loremipsum--image img:last-child {
  margin-left: -1240px;
}
.loremipsum__container h1 {
  font-family: PT Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: white;
  margin-top: -270px;
  margin-left: 90px;
}

.loremipsum__container .lorem {
  display: flex;
  align-items: center;
}
.loremipsum__container .lorem1 {
  margin-top: 230px;
  display: flex;
  align-items: center;
}
.loremipsum__container .lorem2 {
  margin-top: 230px;
  display: flex;
  align-items: center;
  margin-left: 140px;
}
.loremipsum__container .lorem3 {
  display: flex;
  margin-top: 62px;
}
.loremipsum__container .lorem4 {
  display: flex;
  margin-top: 62px;
  margin-left: 140px;
}

.loremipsum__container .lorem {
  margin-left: 66px;
}
.loremipsum__container .lorem h3 {
  margin-left: 40px;
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: #363738;
}
.loremipsum__container .lorem p {
  margin-left: 40px;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6b6b6c;
}

@media (max-width: 768px) {
  .lorem {
    flex-direction: column;
  }
  .lorem2 {
    margin-top: 0px;
  }
  .loremipsum__container .lorem {
    margin-left: 0;
  }
  .loremipsum__container .lorem h3,
  .loremipsum__container .lorem p {
    margin-left: 0;
  }
}
.buyurtmalar {
  width: 100%;
  margin-left: 100px;
}

.buyurtmalar__container h1 {
  font-family: PT Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #363738;
  margin-bottom: 32px;
}
.buyurtmalar__container p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6b6b6c;
  margin-bottom: 56px;
}

.buyurtmalar__container .buyurtmalar__image {
  display: flex;
  gap: 30px;
}
.buyurtmalar__container .buyurtmalar__image1,
.buyurtmalar__container .buyurtmalar__image2,
.buyurtmalar__container .buyurtmalar__image3 {
  width: 393px;
  height: 440px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1215686275);
  margin-bottom: 212px;
}

.buyurtmalar__container .buyurtmalar__image h3 {
  margin-top: 24px;
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: #363738;
  margin-bottom: 16px;
  margin-left: 32px;
}
.buyurtmalar__container .buyurtmalar__image p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6b6b6c;
  margin-bottom: 32px;
  margin-left: 32px;
}
.buyurtmalar__container .buyurtmalar__image span {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  margin-left: 32px;
}

@media (max-width: 768px) {
  .buyurtmalar__image {
    flex-direction: column;
    align-items: center;
  }
  .buyurtmalar__image1,
  .buyurtmalar__image2,
  .buyurtmalar__image3 {
    width: 100%;
    width: 690px;
    height: 423px;
    margin-bottom: 30px;
  }
}
.mijozlar {
  width: 100%;
  width: 1239px;
  height: 917px;
  background-color: #0b7572;
  margin-left: 200px;
}

.mijozlar__container {
  display: flex;
}
.mijozlar__container h1 {
  margin-top: 100px;
  width: 477px;
  height: 109px;
  font-family: PT Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #ffffff;
  margin-left: 81px;
}
.mijozlar__container img {
  width: 652px;
  height: 747px;
  border-radius: 8px;
  margin-top: 85px;
  margin-left: -47px;
}

@media (max-width: 768px) {
  .mijozlar {
    width: 100%;
    margin-left: 0;
    padding: 20px;
    box-sizing: border-box;
  }
  .mijozlar__container {
    flex-direction: column;
    align-items: center;
  }
  .mijozlar__container h1 {
    margin-top: 40px;
    margin-left: 47px;
  }
  .mijozlar__container img {
    margin-top: 40px;
    margin-left: 0;
    max-width: 100%;
    height: auto;
  }
}
.yetkazish {
  width: 100%;
  margin-left: 100px;
}

.yetkazish__container h1 {
  font-family: PT Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  margin-top: 120px;
  margin-bottom: 48px;
  color: #363738;
}

.yetkazish__image1 {
  display: flex;
  width: 1183px;
  height: 245px;
  border-radius: 4px;
  box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.1215686275);
  margin-bottom: 24px;
  margin-left: 48px;
}

.yetkazish__image .yetkazish__image1 img {
  margin-top: 32px;
  margin-left: 96px;
  width: 331px;
  height: 181px;
  border-radius: 4px;
}
.yetkazish__image h3 {
  margin-top: 32px;
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 48px;
  margin-left: 48px;
  color: #363738;
}
.yetkazish__image p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 48px;
  color: #6b6b6c;
}

@media (max-width: 768px) {
  .yetkazish__image1 {
    width: 100%;
    margin-left: 0;
  }
  .yetkazish__image .yetkazish__image1 img {
    display: none;
  }
  .yetkazish__image h3 {
    margin-left: 50px;
  }
  .yetkazish__image p {
    margin-left: 0;
    width: 531.9px;
    height: 89px;
    margin-left: 50px;
  }
}
.hamkorlar {
  width: 100%;
  margin-left: 100px;
}

.hamkorlar__container .hamkorlar1 {
  display: flex;
  align-items: center;
  margin-left: 46px;
  margin-bottom: 100px;
}
.hamkorlar__container .hamkorlar2 {
  display: flex;
  align-items: center;
  margin-left: 46px;
}

.hamkorlar__container h1 {
  font-family: PT Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  columns: #363738;
  margin-top: 120px;
  margin-bottom: 90px;
  color: #363738;
}
.hamkorlar__container h3 {
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: #363738;
  margin-bottom: 14px;
}
.hamkorlar__container p {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #6b6b6c;
  text-align: center;
}
.hamkorlar__container button {
  width: 1px;
  height: 183px;
  border: 1px;
  background-color: #d7d7dd;
  margin-left: 40px;
  margin-right: 50px;
}

.hamkorlar__img1 img {
  width: 79px;
  height: 101px;
  margin-bottom: 32px;
  margin-left: 50px;
}

.hamkorlar__img2 img {
  width: 149px;
  height: 72px;
  margin-bottom: 56px;
  margin-left: 25px;
}

.hamkorlar__img3 img {
  width: 125px;
  height: 100px;
  margin-bottom: 32px;
  margin-left: 30px;
}

.hamkorlar__img4 img {
  width: 77px;
  height: 93px;
  margin-bottom: 32px;
  margin-left: 50px;
}

.hamkorlar__img5 img {
  width: 182px;
  height: 48px;
  margin-bottom: 57px;
  margin-left: 10px;
}

.hamkorlar__img6 img {
  width: 95px;
  height: 88px;
  margin-bottom: 36px;
  margin-left: 50px;
}

.hamkorlar__img7 img {
  width: 78px;
  height: 96px;
  margin-bottom: 32px;
  margin-left: 50px;
}

.hamkorlar__img8 img {
  width: 145px;
  height: 51px;
  margin-bottom: 59px;
}

@media (max-width: 768px) {
  .hamkorlar__container {
    margin-left: 10px;
  }
  .hamkorlar__umumiy {
    display: flex;
  }
  .hamkorlar__img1 img,
  .hamkorlar__img2 img,
  .hamkorlar__img3 img,
  .hamkorlar__img4 img,
  .hamkorlar__img5 img,
  .hamkorlar__img6 img,
  .hamkorlar__img7 img,
  .hamkorlar__img8 img {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .hamkorlar__container {
    margin-left: 0;
  }
  .hamkorlar__umumiy {
    flex-wrap: wrap;
  }
  .hamkorlar__img1,
  .hamkorlar__img2,
  .hamkorlar__img3,
  .hamkorlar__img4,
  .hamkorlar__img5,
  .hamkorlar__img6,
  .hamkorlar__img7,
  .hamkorlar__img8 {
    width: 50%;
    text-align: center;
  }
}
.hodimlar {
  width: 100%;
  margin-top: 130px;
  margin-left: 100px;
  margin-bottom: 130px;
}

.hodimlar__container h1 {
  width: 687px;
  height: 49px;
  font-family: PT Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #363738;
  margin-bottom: 72px;
}

.hodimlar__container .hodimlar__box {
  display: flex;
}
.hodimlar__container .hodim {
  width: 605px;
  height: 210px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  margin-bottom: 24px;
  display: flex;
}

.hodimlar__box .img1 {
  width: 51px;
  height: 210px;
}
.hodimlar__box .img2 {
  width: 138px;
  height: 138px;
  margin-top: 32px;
  margin-left: 32px;
}

.hodimlar__box h3 {
  margin-left: 40px;
  margin-top: 48px;
  width: 165px;
  height: 20px;
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #363738;
  margin-bottom: 12px;
}
.hodimlar__box p {
  margin-left: 40px;
  width: 172px;
  height: 15px;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #6b6b6c;
  margin-bottom: 47px;
}

.ijtimoitarmoq {
  margin-left: 40px;
}
.ijtimoitarmoq img {
  margin-right: 20px;
}

.hodimlar__box .hodimlar2 {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .hodimlar__box .img1 {
    width: 25px;
    height: 105px;
  }
  .hodimlar__box .img2 {
    width: 69px;
    height: 69px;
    margin-top: 16px;
    margin-left: 16px;
  }
  .hodimlar__box h3 {
    margin-left: 20px;
    margin-top: 24px;
    width: 82.5px;
    height: 10px;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 6px;
  }
  .hodimlar__box p {
    margin-left: 20px;
    width: 86px;
    height: 7.5px;
    font-size: 7px;
    line-height: 10.5px;
    margin-bottom: 23.5px;
  }
  .hodimlar__box .hodimlar2 {
    margin-left: 15px;
  }
  .ijtimoitarmoq {
    margin-left: 20px;
  }
  .ijtimoitarmoq img {
    margin-right: 10px;
  }
}
.aloqamarkazi {
  width: 100%;
  margin-left: 100px;
}

.aloqamarkazi__container h1 {
  font-family: PT Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #363738;
}
.aloqamarkazi__container .murojat {
  display: flex;
}

.murojat .tel,
.murojat .pochta,
.murojat .watsap,
.murojat .skype {
  display: flex;
  margin-bottom: 45px;
  align-items: center;
}
.murojat img {
  width: 28px;
  height: 28px;
}
.murojat p {
  margin-left: 36px;
  margin-bottom: 8px;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #6b6b6c;
}
.murojat h3 {
  margin-left: 36px;
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #363738;
}

.aloqamarkazi__container .telefon {
  margin-top: 94px;
}

.murojat .manzil {
  border: 1px solid #e9eaf2;
  width: 794px;
  border-radius: 5px;
  border: 1px;
  background-color: #f9f9fb;
  margin-top: 72px;
  margin-left: -60px;
  margin-bottom: 46px;
}

.murojat .manzil .nomi,
.murojat .manzil .inn,
.murojat .manzil .kpp,
.murojat .manzil .ogrn,
.murojat .manzil .joylashuv {
  display: flex;
}

.murojat .nomi {
  margin: 48px 72px 10px 48px;
}
.murojat .inn {
  margin: 32px 72px 10px 48px;
}
.murojat .kpp {
  margin: 32px 72px 10px 48px;
}
.murojat .ogrn {
  margin: 32px 72px 10px 48px;
}
.murojat .joylashuv {
  margin: 32px 72px 56px 48px;
}

.murojat h3 {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #6b6b6c;
  width: 175px;
}
.murojat h3:last-child {
  color: #363738;
  font-weight: 600;
  width: 443px;
}
.murojat hr {
  width: 647px;
  margin-left: 78px;
}

.picture {
  margin-bottom: 166px;
}

@media (max-width: 768px) {
  .murojat .nomi {
    margin: 24px 16px 10px 16px;
  }
  .murojat .inn {
    margin: 16px 16px 10px 16px;
  }
  .murojat .kpp {
    margin: 16px 16px 10px 16px;
  }
  .murojat .ogrn {
    margin: 16px 16px 10px 16px;
  }
  .murojat .joylashuv {
    margin: 16px 16px 24px 16px;
  }
  .murojat h3:last-child {
    width: auto;
  }
  .murojat hr {
    width: calc(100% - 32px);
    margin-left: 16px;
  }
  .picture {
    margin-bottom: 80px;
  }
}
.footer {
  width: 100%;
  background-color: #0b7572;
  height: 365px;
  width: 1440px;
  margin-bottom: 500px;
}

.footer__container {
  display: flex;
}
.footer__container img {
  width: 176px;
  height: 60px;
  margin-top: 80px;
  margin-left: 95px;
}

.footer__container .footer__title1,
.footer__container .footer__title2 {
  margin-top: 80px;
  width: 133px;
}

.footer__title1 {
  margin-left: 135px;
}
.footer__title1 a {
  font-family: PT Sans;
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  letter-spacing: 0.16em;
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-bottom: 35px;
}

.footer__title2 {
  margin-left: 97px;
}
.footer__title2 a {
  font-family: PT Sans;
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  letter-spacing: 0.16em;
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-bottom: 25px;
}

.footer__tarmoq {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.footer__tarmoq img {
  width: 27.57px;
  height: 27.82px;
}
.footer__tarmoq .fesbook {
  margin-left: 15px;
}
.footer__tarmoq .insta {
  margin-left: 0px;
}

.footer__title3 {
  margin-left: 180px;
}
.footer__title3 p {
  margin-bottom: 32px;
  font-family: PT Sans;
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  color: #ffffff;
}
.footer__title3 button {
  width: 271px;
  height: 42px;
  background-color: #ff9619;
  border: none;
  color: #ffffff;
  transition: all 0.6s;
}
.footer__title3 button:hover {
  background-color: #c2a37d;
}

.footer__title4 {
  font-family: PT Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.16em;
  width: 374px;
  height: 16px;
  color: #ffffff;
  margin-left: 650px;
  margin-top: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
} /*# sourceMappingURL=style.css.map */
