.footer {
  width: 100%;
  background-color: #0b7572;
  height: 365px;
  width: 1440px;
  margin-bottom: 500px;
}
.footer__container {
  display: flex;
  img {
    width: 176px;
    height: 60px;
    margin-top: 80px;
    margin-left: 95px;
  }
}
.footer__container {
  .footer__title1,
  .footer__title2 {
    margin-top: 80px;
    width: 133px;
  }
}
.footer__title1 {
  margin-left: 135px;
  a {
    font-family: PT Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    letter-spacing: 0.16em;
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 35px;
  }
}
.footer__title2 {
  margin-left: 97px;
  a {
    font-family: PT Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    letter-spacing: 0.16em;
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 25px;
  }
}
.footer__tarmoq {
  display: flex;
  align-items: center;
  margin-bottom: 32px;

  img {
    width: 27.57px;
    height: 27.82px;
  }
  .fesbook {
    margin-left: 15px;
  }
  .insta {
    margin-left: 0px;
  }
}
.footer__title3 {
  margin-left: 180px;
  p {
    margin-bottom: 32px;
    font-family: PT Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    color: #ffffff;
  }
  button {
    width: 271px;
    height: 42px;
    background-color: #ff9619;
    border: none;
    color: #ffffff;
    transition: all 0.6s;
    &:hover {
      background-color: #c2a37d;
    }
  }
}
.footer__title4 {
  font-family: PT Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.16em;
  width: 374px;
  height: 16px;
  color: #ffffff;
  margin-left: 650px;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .footer__tarmoq {
    margin-bottom: 16px;
  }

  .footer__title3 {
    margin-left: 0;

    p {
      margin-bottom: 16px;
    }
  }

  .footer__title4 {
    margin-left: 0;
    margin-top: 16px;
  }
}
@media screen and (max-width: 576px) {
  .footer__title3 {
    p {
      font-size: 11px;
      line-height: 16.5px;
    }
    button {
      width: 100%;
    }
  }
}
