.hodimlar {
  width: 100%;
  margin-top: 130px;
  margin-left: 100px;
  margin-bottom: 130px;
}
.hodimlar__container {
  h1 {
    width: 687px;
    height: 49px;
    font-family: PT Sans;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: #363738;
    margin-bottom: 72px;
  }
}
.hodimlar__container {
  .hodimlar__box {
    display: flex;
  }
  .hodim {
    width: 605px;
    height: 210px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px 0px #00000026;
    margin-bottom: 24px;
    display: flex;
  }
}
.hodimlar__box {
  .img1 {
    width: 51px;
    height: 210px;
  }
  .img2 {
    width: 138px;
    height: 138px;
    margin-top: 32px;
    margin-left: 32px;
  }
}
.hodimlar__box {
  h3 {
    margin-left: 40px;
    margin-top: 48px;
    width: 165px;
    height: 20px;
    font-family: PT Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #363738;
    margin-bottom: 12px;
  }
  p {
    margin-left: 40px;
    width: 172px;
    height: 15px;
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #6b6b6c;
    margin-bottom: 47px;
  }
}
.ijtimoitarmoq {
  margin-left: 40px;
  img {
    margin-right: 20px;
  }
}
.hodimlar__box {
  .hodimlar2 {
    margin-left: 30px;
  }
}
@media screen and (max-width: 768px) {
  .hodimlar__box {
    .img1 {
      width: 25px;
      height: 105px;
    }
    .img2 {
      width: 69px;
      height: 69px;
      margin-top: 16px;
      margin-left: 16px;
    }
    h3 {
      margin-left: 20px;
      margin-top: 24px;
      width: 82.5px;
      height: 10px;
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 6px;
    }
    p {
      margin-left: 20px;
      width: 86px;
      height: 7.5px;
      font-size: 7px;
      line-height: 10.5px;
      margin-bottom: 23.5px;
    }
    .hodimlar2 {
      margin-left: 15px;
    }
  }
  .ijtimoitarmoq {
    margin-left: 20px;
    img {
      margin-right: 10px;
    }
  }
}
