.maintext {
  max-width: 1440px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 4px 4px 20px 4px #00000026;
  margin-left: 100px;
  margin-bottom: 67px;
}
.maintext__container {
  display: flex;

  img {
    margin-top: 40px;
    width: 92px;
    height: 92px;
    margin-bottom: 24px;
  }
  h3 {
    font-family: Exo 2;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    width: 228px;
    height: 48px;
    margin-bottom: 16px;
  }
  p {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 225px;
    height: 65px;
    margin-bottom: 56px;
  }
}

.maintext__container {
  button {
    margin-top: 40px;
    width: 0;
    height: 261px;
    margin-left: 105px;
    margin-right: 64px;
  }
  .box1 {
    margin-left: 80px;
  }
  .box1--last {
    margin-right: 122px;
    margin-left: 0;
  }
  .box1--last2 {
    margin-left: 0;
  }
}
