.yetkazish {
  width: 100%;
  margin-left: 100px;
}
.yetkazish__container {
  h1 {
    font-family: Exo 2;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    width: 687px;
    height: 49px;
  }
}
